.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {

    background-color: hsl(9, 100%, 80%, 0.85);
    /* background */
    text-align: center;
    font-family: "Jacquard 24", system-ui;
    font-size: x-large;

    /* margin short */
    margin: 10px 10px 20px 20px;

    /* padding long */
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;

    /* border */
    border-style: dotted;
    border-color: rgb(69, 69, 69);
    border-width: 5px;
    border-radius: 20px;

    h1 {
        color: #646464;
        line-height: 1;
    }
}

body {

    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;


    background: #f0f0f0;
    /*background-color: azure;*/
    background-image: linear-gradient(azure, MediumSeaGreen);

    h2,
    h3 {
        font-family: 'Times New Roman', serif;
        margin-left: 20px;
    }
}

main {
    h2 {
        float: center;
        align-content: center;
    }

}

nav a {
    color: #1009f0;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

nav a:hover {
    text-decoration: underline;
    color: lightblue;
}

section {
    display: box;
    background-color: #fdfdfdaa;
    margin: 20px;
    padding-left: 20px;
    padding: 20px;

    border-radius: 1rem;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

#attendance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    background-color: #9d9d9daa;
    margin: 25px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);

    p {
        font-size: larger;
        line-height: 0.02;
    }

    input[type="checkbox"]:checked+label {
        text-decoration: underline;
        padding-left: 25px;
    }
}

#agenda {}

#unfinished {}

#new-business {}

#miscellaneous {}

#project-planning {}

#audio {}

#recordings {}

#feedback {}

footer {}