:root {
    --c: center;
}

.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 10;
    /* Reset margins */
    padding: 1;
    /* Reset paddings */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(240, 100%, 80%, 0.75);
    /* background */
    text-align: center;
    font-family: "Jacquard 24", system-ui;
    font-size: x-large;

    /* margin short */
    margin: 10px 10px 20px 20px;

    /* padding long */
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;

    /* border */
    border-style: dotted;
    border-color: rgb(69, 69, 69);
    border-width: 5px;
    border-radius: 20px;

    h1 {
        color: #646464;
        line-height: .6;
        place-items: var(--c);
    }
}

.top {
    display: flex;
    justify-content: var(--c);
    align-items: var(--c);
    flex-direction: column;
    position: sticky;
    top: 1rem;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1000;
    /* from chatGPT */
}

body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;

    background: #f0f0f0;
    /*background-color: azure;*/
    background-image: linear-gradient(rgba(2, 100, 100, .85), rgba(1, 25, 25, .5));

    h2 {
        font-size: xx-large;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
    }

    h3 {
        font-family: 'Times New Roman', serif;
        /*margin-left: 20px;*/
        font-size: x-large;
        text-align: center;
        text-decoration: underline;
    }
}

main {
    h2 {
        text-align: var(--c);
        float: var(--c);
    }

}

nav a {
    color: #1009f0;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

nav a:hover {
    text-decoration: underline;
    color: lightblue;
}

.center {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
}

section {
    display: grid;
    background-image: radial-gradient(circle, #68b680, #92bee0);
    margin: 0.5em;
    padding: 15px;
    border: 10px soild#646464;
    border-radius: 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);

    agenda,
    unfinished,
    new-business {
        color: rgb(69, 69, 69);
        /*width: 50%;*/
    }

    #miscellaneous>summary,
    p {
        padding-left: 10px;
    }

    #miscellaneous~p {
        margin-left: 5%;
    }

    .studio {
        justify-content: var(--c);
        height: auto;
    }
}

#attendance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    background-color: #9d9d9daa;
    margin: 25px;
    padding: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
    border-radius: 1rem;

    p {
        font-size: larger;
        line-height: 0.02;
    }

    /* From ChatGPT */
    input[type="checkbox"]+label {
        cursor: pointer;
    }

    input[type="checkbox"]:checked+label {
        text-decoration: underline;
        padding-left: 50px;
        color: darkgreen;
    }

}

#project-planning {
    margin-top: 2em;

    .pics {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        flex-direction: columns;
        justify-content: var(--c);
        flex-grow: 3;
    }

    img {
        position: relative;
        padding: 10px;
        border: 5px solid #646464;
        border-radius: 2em;
        /*place-items: center;*/
        width: 18rem;
        /* got from chatGPT*/
        height: 18rem;
        /* got from chatGPT*/
    }

    @media (img: hover) {}

    @media (min-width: 200px) {
        img:hover {
            transform: scale(1.2);
            /* got from chatGPT*/
            transition: transform 0.5s ease-in-out;
            /* got from chatGPT*/
        }
    }

    width: 75%;

}

#audio {
    text-align: var(--c);
    justify-content: var(--c);

    background-color: cadetblue;

    audio:hover {
        transform: scale(1.2);
        /* got from chatGPT*/
        transition: transform 0.5s ease-in-out;
        /* got from chatGPT*/
    }

    width: 60%;
}

#recordings {
    display: grid;
    place-items: center;

    .video {
        border: 15px solid white;
        border-radius: 1em;
        width: 50vw;
        height: 50vh;
        padding-bottom: 10px;
    }

    width: 70%;
    text-align: center;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    /*    flex-shrink: 5;*/

}

.vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3.fb {
    color: #f44f4f;
    text-align: center;
    font-size: larger;
}

footer p:has(em) {
    color: darkcyan;

}

footer+a {
    position: relative;
    margin-left: 25px;
    margin-bottom: 25px;
}